@{
    ViewBag.Title = "About";
}

<h1>What is Security Testing?</h1>
<p>
    Security testing checks whether software is vulnerable to cyber attacks, and tests the impact of malicious or unexpected inputs on its operations. Security testing provides evidence that systems and information are safe and reliable, and that they do not accept unauthorized inputs.
    <br>
    Security testing is a type of non-functional testing. Unlike functional testing, which focuses on whether the software’s functions are working properly (“what” the software does), non-functional testing focuses on whether the application is designed and configured correctly (“how” it does it).
    <br>
    Main goals of security testing:
    <br>
    <h4>Identify assets</h4>things that need to be protected, such as software applications and computing infrastructure.
    <br>
    <h4>Identify threats and vulnerabilities</h4>  activities that can cause damage to an asset, or weaknesses in one or more assets that can be exploited by attackers.
    <br>
    <h4>Identify risk</h4>security testing aims to evaluate the risk that specific threats or vulnerabilities will cause a negative impact to the business. Risk is evaluated by identifying the severity of a threat or vulnerability, and the likelihood and impact of exploitation.
    <br>
    <h4>Perform remediation</h4> security testing is not just a passive evaluation of assets. It provides actionable guidance for remediating vulnerabilities discovered, and can verify that vulnerabilities were successfully fixed.
    <br>
    <h3>Key principles of security testing</h3>
    Security testing aims to ensure that an organization’s systems, applications, and data upholds the following security principles:
    <br>
    <h4>Confidentiality</h4> limiting access to sensitive access managed by a system.
    <br>
    <h4>Integrity</h4> ensuring that data is consistent, accurate, and trustworthy throughout its lifecycle and cannot be modified by unauthorized entities.
    <br>
    <h4>Authentication</h4> ensuring sensitive systems or data are protected by a mechanism that verifies the identity of the individual accessing them.
    <br>
    <h4>Authorization </h4> ensuring sensitive systems or data properly control access for authenticated users according to their roles or permissions.
    <br>
    <h4>Availability</h4> ensuring that critical systems or data are available for their users when they are needed.
    <br>
    <h4>Non-repudiation</h4> ensures that data sent or received cannot be denied, by exchanging authentication information with a provable time stamp.
</p>
<h1>What is the MITRE ATT&CK Framework?</h1>
<p>
    The MITRE ATT&CK Framework is a comprehensive, iterative, and agile framework for building a full spectrum of adversarial tactics and techniques. It is designed to help security teams prioritize their efforts to defend against modern attacks.
    <br />
    The MITRE ATT&CK Framework was originally developed by the U.S. Department of Homeland Security in collaboration with the MITRE Corporation in 2015 as an open reference standard to help all defenders improve their security postures against modern adversaries in cyberspace. Since then, it has evolved into a community-driven open source project with over 30 contributors from government and industry organizations worldwide who are working together to advance its development based on feedback obtained through multiple public releases since its release date
</p>
<h2>What are the benefits of the MITRE ATT&CK</h2>
<p>
    What are the benefits of the MITRE ATT&CK?
    The MITRE ATT&CK is a framework that can quickly and accurately identify security threats. It provides a path for assessing the value of information, defining targets, and prioritizing activities. The framework consists of the following:
    <br />

    <h3>Threat detection</h3>

    The ability to detect signs that a system or organization has been compromised by an adversary. This includes:
    <br />
    <br />

    Behavioral indicators
    <br />
    Malware identification tools and signatures
    <br />
    Static analysis tools (such as code scanners)
    <br />
    Threat intelligence feeds,
    <br />
    Endpoint protection software (which examines files for suspicious activity)
    <br />
    Network traffic monitoring systems (which inspect packets for malicious behavior)
    <br />
    Intrusion detection systems (IDSes)
    <br />
    Host-based IDSes that monitor operating system processes for suspicious activity
    <br />
    Anti-malware products
    <br />
    Rootkit detectors
    <br />
    Deception technologies such as honeypots, and more advanced approaches such as machine learning models trained on data collected from previous attacks against your organization’s infrastructure.
    <br />
    Security assessments
    <br />
    A process whereby IT teams discover vulnerabilities in their networks and determine how best to address them via updates or patches before hackers exploit them—or even worse yet… cyber criminals!
    <br />
    <br />

    Threat intelligence research
    The ongoing study of adversaries’ tactics so you know what they’re likely going after next! Threat intel also helps you understand threats better than ever before, so now, when something like ransomware hits your company’s servers out of nowhere, it doesn’t seem quite scary because now everyone knows what they’re dealing with.
    <br />
    <br />

    Adversary emulation
    This is the process whereby you get to know your attackers by emulating their tactics, techniques, and procedures (TTPs). This will help you understand how they work so you can better defend against them.
</p>
<br />
<br />
<br />