@model Web_Project.Models.Attack

@{
    ViewBag.Title = "T1120";
}

<h2>T1120</h2>

<div>
    <h2>
        Test Results
        @using (Html.BeginForm("DownloadResult", "Attack", new { ID = "T1120" }, FormMethod.Post))
        {
            <div class="form-group">
                <div>
                    <input type="submit" value="Download" class="btn btn-default" />
                </div>
            </div>
        }
    </h2>
    @{
        foreach (var item in ViewBag.Attack)
        {
            <p>@item</p>
        }}

</div>